* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Padrao";
	list-style: none;
}

@font-face {
	font-family: "Padrao";
	src: url("font/pixChicago.ttf");
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 0.8rem;
	width: 100%;
	height: 100vh;
	color: #e1e1e1;
	background-color: #1a1a1a;
}

.container p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-radius: 0.2rem;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: 0.3rem;
	margin: 0 auto 1rem;
}

.container p span {
	border: 0.1rem solid #161616ad;
	color: #2c97fa;
	background-color: #1a1a1a;
	padding: 0.1rem 0.4rem;
	margin-left: 1rem;
}

.lista {
	column-count: 4;
	column-gap: 0.5rem;
}

.lista li + li {
	margin-top: 0.1rem;
}

.lista a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.3rem;
	width: 11.8rem;
	text-decoration: none;
	border-radius: 0.2rem;
	border: 0.1rem solid #161616;
	color: #e1e1e1;
	background-color: #252525;
	padding: 0.3rem;
}

.lista a:hover {
	background-color: #343434;
}

.lista span {
	border: 0.1rem solid #161616ad;
	background-color: #1a1a1a;
	padding: 0.1rem 0.4rem;
}

.ranking ul {
	margin-top: 0.5rem;
}

.ranking h1 {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	color: #fcd155;
}

.ranking h1::before {
	content: "";
	display: inline-block;
	width: 1.5rem;
	height: 2rem;
	background: url("./img/Trophy.png") no-repeat center center;
	background-size: contain;
	padding-bottom: 0.5rem;
	margin-right: 0.8rem;
}

.ranking li:last-of-type {
	padding-left: 0;
}

.ranking li {
	transition: 0.2s;
	position: relative;
	padding-left: 0.5rem;
}

.ranking li:hover {
	cursor: context-menu;
	color: #2c97fa;
}

.ranking li + li {
	margin-top: 0.4rem;
}

.t01:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Castlevania - Symphony of the Night.jpeg") no-repeat center center;
	background-size: contain;
}

.t02:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Vagrant Story.jpg") no-repeat center center;
	background-size: contain;
}

.t03:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Parasite Eve.jpg") no-repeat center center;
	background-size: contain;
}

.t04:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/xenogears.jpg") no-repeat center center;
	background-size: contain;
}

.t05:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Chrono Cross.jpg") no-repeat center center;
	background-size: contain;
}

.t06:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Chrono Trigger.jpg") no-repeat center center;
	background-size: contain;
}

.t07:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Final Fantasy 7.jpg") no-repeat center center;
	background-size: contain;
}

.t08:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Final Fantasy Tactics.jpg") no-repeat center center;
	background-size: contain;
}

.t09:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -60%;
	background: url("./img/1994(d)-ps1/Legend of Legaia.jpg") no-repeat center center;
	background-size: contain;
}

.t10:hover::before {
	content: "";
	display: inline-block;
	width: 10rem;
	height: 8rem;
	position: absolute;
	left: -65%;
	background: url("./img/1990(c)-snes/Super Metroid.jpeg") no-repeat center center;
	background-size: contain;
}

@media screen and (max-width: 991px) {
	.container {
		height: 100%;
		padding: 0.5rem 0;
	}

	.lista {
		column-count: 3;
		column-gap: 0.5rem;
	}

	.t01:hover::before,
	.t02:hover::before,
	.t03:hover::before,
	.t04:hover::before,
	.t05:hover::before,
	.t06:hover::before,
	.t07:hover::before,
	.t08:hover::before,
	.t09:hover::before,
	.t10:hover::before {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.container {
		height: 100%;
		padding: 0.5rem 0;
	}

	.container p {
		font-size: 0.675rem;
	}

	.lista {
		column-count: 3;
		column-gap: 0.1rem;
	}

	.lista a {
		width: 8.6rem;
		font-size: 0.675rem;
	}

	.t01:hover::before,
	.t02:hover::before,
	.t03:hover::before,
	.t04:hover::before,
	.t05:hover::before,
	.t06:hover::before,
	.t07:hover::before,
	.t08:hover::before,
	.t09:hover::before,
	.t10:hover::before {
		display: none;
	}
}
