* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Padrao';
	list-style: none;
}

@font-face {
	font-family: 'Padrao';
	src: url('font/pixChicago.ttf');
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 100vh;
	color: #E1E1E1;
	background-color: #1A1A1A;
}

.container p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: fit-content;
	border-radius: .2rem;
	border: .1rem solid #161616;
	background-color: #252525;
	padding: .3rem;
}

.container p span {
	border: .1rem solid #161616ad;
	color: #2C97FA;
	background-color: #1A1A1A;
	padding: .1rem .4rem;
	margin-left: 1rem;
}

.lista { 
  column-count: 5;
  column-gap: .5rem;
}

.lista li + li {
	margin-top: .1rem;
}

.lista a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .3rem;
	width: 11.8rem;
	text-decoration: none;
	border-radius: .2rem;
	border: .1rem solid #161616;
	color: #E1E1E1;
	background-color: #252525;
	padding: .3rem;
}

.lista a:hover {
	background-color: #343434;
}

.lista span {
	border: .1rem solid #161616ad;
	background-color: #1A1A1A;
	padding: .1rem .4rem;
}

.verde {
	color: #19E428;
}

.vermelho {
	color: #F70103;
}