* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Padrao';
	color: #C8C8C8;
}

@font-face {
	font-family: 'Padrao';
	src: url('../font/pixChicago.ttf');
}

body {
	background-color: #1A1A1A;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
  position: relative;
}

.home {
	display: block;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	transition: all .5s ease;
	border: .1rem solid #C8C8C8;
	border-right: .1rem solid #1F8020;
	padding: .5rem;
	margin: 2rem 0 0 2rem;
}

.home:hover {
	border-right: .1rem solid #C8C8C8;
	border-left: .1rem solid #FF0000;
	transform: rotate(360deg);
}

.jogo {
	width: 50rem;
	height: 15rem;
	border-radius: .3rem;
	margin-top: 1.5rem;
}

.jogo h1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 49.1rem;
	font-size: 1.3rem;
	border-radius: .3rem;
	border: .1rem solid #161616;
	background-color: #252525;
	padding: .3rem .4rem;
	margin-bottom: .1rem;
}

.jogo h1 span {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .2rem;
}

.star {
	width: 1.7rem;
}

.star1 {
	width: 1.5rem;
}

.star2 {
	width: 1.3rem;
}

.star3 {
	width: 1.1rem;
}

.star4 {
	width: .9rem;
}

.star5 {
	width: .7rem;
}

.info {
	display: flex;
}

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12.5rem;
	width: 10rem;
	border-radius: .3rem;
	border: .1rem solid #161616;
	border-top: transparent;
	background-color: #252525;
	padding: .5rem;
}

.cover img {
	display: block;
	width: 84%;
}

.screenshots {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 12.5rem;
	width: 40rem;
	border-radius: .3rem;
	background-color: transparent;
}

.screenshots img {
	display: block;
	width: 30%;
	border-radius: .2rem;
}