* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Padrao";
	list-style: none;
}

@font-face {
	font-family: "Padrao";
	src: url("../font/pixChicago.ttf");
}

html {
	scroll-behavior: smooth;
	background-color: #1a1a1a;
}

.menu {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 20%;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 3rem;
	margin-top: 2rem;
}

.home {
	display: block;
	border-radius: 50%;
	transition: all 0.5s ease;
	border: 0.1rem solid #e1e1e1;
	border-right: 0.1rem solid #1f8020;
	padding: 0.3rem;
}

.home:hover {
	cursor: pointer;
	transform: rotate(360deg);
	border-right: 0.1rem solid #e1e1e1;
	border-left: 0.1rem solid #ff0000;
}

.lista {
	display: block;
	border-radius: 50%;
	transition: all 0.5s ease;
	border: 0.1rem solid #c8c8c8;
	border-top: 0.1rem solid #1f8020;
	padding: 0.3rem;
}

.lista.ativo {
	border-top: 0.1rem solid #e1e1e1;
	border-bottom: 0.1rem solid #ff0000;
}

.lista:hover {
	cursor: pointer;
	border-top: 0.1rem solid #e1e1e1;
	border-bottom: 0.1rem solid #ff0000;
}

.lista-jogos {
	display: none;
	position: fixed;
	top: 5rem;
	left: 3%;
}

.lista-jogos ul {
	column-count: 3;
	column-gap: 0.1rem;
}

.lista-jogos li + li {
	margin-top: 0.1rem;
}

.lista-jogos a {
	display: block;
	font-size: 0.9rem;
	text-decoration: none;
	border-radius: 0.2rem;
	transition: all 0.3s ease;
	border: 0.1rem solid #161616;
	color: #e1e1e1;
	background-color: #252525;
	padding: 0.3rem;
}

.lista-jogos a:hover {
	background-color: #343434;
}

.arrow {
	display: block;
	border-radius: 50%;
	transition: all 0.5s ease;
	border: 0.1rem solid #e1e1e1;
	border-bottom: 0.1rem solid #1f8020;
	padding: 0.3rem;
}

.arrow:hover {
	cursor: pointer;
	transform: rotate(180deg);
	border-bottom: 0.1rem solid #ff0000;
}

.trofeu {
	width: 2rem;
	transition: all .3s ease;
}

.trofeu:hover {
	transform: scale(1.3);
}

.top {
	display: block;
	position: relative;
	cursor: pointer;
}

.top-lista {
	display: none;
	position: fixed;
	top: 5rem;
	left: 2.75%;
}

.top-lista.active {
	display: block;
}

.top-lista-titulos {
	width: 23rem;;
	font-size: .9rem;
	list-style: none;
	border-radius: 0.2rem;
	color: #e1e1e1;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: .5rem .5rem .5rem .3rem;
}

.medalhas {
	position: absolute;
	top: 0;
	left: -9%;
	border-radius: 0.2rem;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: .5rem;
}

.medalhas img {
	display: block;
	width: .8rem;
}

.top-lista-titulos li {
	margin-left: .5rem;
}

.top-lista li:last-of-type {
	margin-left: 0;
}

.top-lista li + li {
	margin-top: .8rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.5rem;
	width: 100%;
	background-color: #1a1a1a;
}

.container:last-child {
	margin-bottom: 5rem;
}

.jogo {
	width: 45%;
	height: 15rem;
	color: #e1e1e1;
}

.jogo:nth-child(1) {
	margin-top: 2rem;
}

.titulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 0.8rem;
	border-radius: 0.3rem;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: 0.3rem 0.4rem;
	margin-bottom: 0.05rem;
}

.nota {
	display: flex;
	gap: 0.2rem;
}

.nota img {
	display: block;
}

.star-s {
	width: 1.7rem;
}

.star-1 {
	width: 1.5rem;
}

.star-2 {
	width: 1.3rem;
}

.star-3 {
	width: 1.1rem;
}

.star-4 {
	width: 0.9rem;
}

.star-5 {
	width: 0.7rem;
}

.info-jogo {
	display: flex;
}

.cover {
	width: 35rem;
	height: 13rem;
	border-radius: 0.3rem;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: 0.5rem;
}

.cover img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: all 0.3s ease;
}

.cover img:hover {
	transform: scale(1.8);
}

.texto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100rem;
	border-radius: 0.3rem;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: 1rem 0.5rem;
	margin-left: 0.05rem;
}

.texto div p + p {
	margin-top: 0.2rem;
}

.regiao {
	width: 100%;
	border-radius: 0.3rem;
	border: 0.1rem solid #161616;
	background-color: #252525;
	padding: 0.3rem 0.4rem;
	margin-top: 0.05rem;
}

@media screen and (max-width: 991px) {
	.menu {
		left: 29%;
		margin-top: 0.65rem;
	}

	.lista-jogos {
		top: 3.2rem;
		left: 12%;
	}

	.lista-jogos li + li {
		margin-top: 0.05rem;
	}

	.lista-jogos a {
		font-size: 0.7rem;
	}

	.top-lista {
		top: 3.2rem;
		left: 26.5%;
	}

	.container {
		gap: 9rem;
	}

	.jogo {
		width: 98%;
		height: 10rem;
	}

	.jogo:nth-child(1) {
		margin-top: 3.5rem;
	}

	.cover img:hover {
		transform: scale(1.8) translateX(20%);
	}
}

@media screen and (max-width: 767px) {
	.menu {
		left: 12.5%;
		margin-top: 0.65rem;
	}

	.lista-jogos {
		top: 3.2rem;
		left: 0.05%;
	}

	.lista-jogos a {
		font-size: 0.6rem;
	}

	.lista-jogos li + li {
		margin-top: 0.05rem;
	}

	.top-lista {
		top: 3.2rem;
		left: 10%;
	}

	.top-lista-titulos {
		font-size: .8rem;
	}

	.container {
		gap: 7rem;
	}

	.jogo {
		width: 98%;
		height: 10rem;
	}

	.jogo:nth-child(1) {
		margin-top: 3.5rem;
	}

	.cover {
		height: 11.5rem;
	}

	.cover img:hover {
		transform: scale(1.8) translateX(20%);
	}

	.titulo {
		font-size: 0.6rem;
	}

	.star-s {
		width: 1.5rem;
	}

	.star-1 {
		width: 1.3rem;
	}

	.star-2 {
		width: 1.1rem;
	}

	.star-3 {
		width: 0.9rem;
	}

	.star-4 {
		width: 0.7rem;
	}

	.star-5 {
		width: 0.5rem;
	}

	.texto {
		font-size: 0.8rem;
	}
}
